<div class={{ styles.conversation-header }}>
    <div class={{ styles.conversation-avatar-container }}>
        <img class={{ styles.conversation-avatar-image }} src={{ images }}>
        <div class={{ styles.conversation-user-name }}>Олег</div>
    </div>
    <div class={{ styles.conversation-actions-container}}>
        <img class={{ styles.actions-button }} src={{ icons.threedots-svg }}>
    </div>

</div>
<div class={{ styles.conversation-body-container }}>
    <div class={{ styles.conversation-date }}>2 декабря</div>
    <div class={{ styles.conversation-other-message }}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel obcaecati iste nisi accusantium magni dolores. Velit reprehenderit rem, quasi voluptatum porro amet officiis. Incidunt mollitia pariatur quos explicabo voluptatibus.
        <div class={{ styles.conversation-other-message-time }}>23:59</div>
    </div>
    <div class={{ styles.conversation-date }}>3 декабря</div>
    <div class={{ styles.conversation-other-message }}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel obcaecati iste nisi accusantium magni dolores. Velit reprehenderit rem, quasi voluptatum porro amet officiis. Incidunt mollitia pariatur quos explicabo voluptatibus.
        <div class={{ styles.conversation-other-message-time }}>23:59</div>
    </div>
    <div class={{ styles.conversation-other-message }}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel obcaecati iste nisi accusantium magni dolores. Velit reprehenderit rem, quasi voluptatum porro amet officiis. Incidunt mollitia pariatur quos explicabo voluptatibus.
        <div class={{ styles.conversation-other-message-time }}>23:59</div>
    </div>
    <div class={{ styles.conversation-self-message }}>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel obcaecati iste nisi accusantium magni dolores. Velit reprehenderit rem, quasi voluptatum porro amet officiis. Incidunt mollitia pariatur quos explicabo voluptatibus.
        <div class={{ styles.conversation-self-message-status }}>
            <img src={{ icons.status-read-svg }}>
        <div class={{ styles.conversation-self-message-time }}>23:59</div>
        </div>
    </div>


</div>
<div class={{ styles.conversation-footer }}>
    <div class={{ styles.attach-button-container }}>
        <img class={{ styles.attach-button }} src={{ icons.paperclip-svg }}>
    </div>
    <div class={{ styles.conversation-message-box }}>
        {{> input classes=styles.input-conversation-message-box name="conversation-message" placeholder="Сообщение"}}
    </div>
    <div class={{ styles.arrow-button-container }}>
        <img class={{ styles.send-button }} src={{ icons.arrow-svg }}>
    </div>
</div>