<div class="{{ styles.profile-container }}">
    <div class={{ styles.profile-return }}>
        <div class={{ styles.arrow-button-container }}>
            <img class={{ styles.profile-return-button }} src={{ icons.arrowback-svg }}>
        </div>

    </div>
    <div class={{ styles.profile-info-container }}>
        <div class={{ styles.profile-info }}>
            <div class={{ styles.profile-avatar-wrapper }}>
                <img class={{ styles.profile-avatar-image }} src={{ images }}>
                <div class={{ styles.profile-change-avatar-container }}>
                    <p class={{ styles.profile-change-avatar-text }}>Поменять аватар<p>
                </div>
            </div>
            <div class={{ styles.profile-display-name }}>Иван</div>
            <div class={{ styles.profile-info-fields-container }}>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Почта</div>
                    <div class={{ styles.profile-info-field-value }}>email@yandex.ru</div>
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Логин</div>
                    <div class={{ styles.profile-info-field-value }}>ivanivanov</div>
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Имя</div>
                    <div class={{ styles.profile-info-field-value }}>Иван</div>
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Фамилия</div>
                    <div class={{ styles.profile-info-field-value }}>Иванов</div>
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Имя в чате</div>
                    <div class={{ styles.profile-info-field-value }}>Иван</div>
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Телефон</div>
                    <div class={{ styles.profile-info-field-value }}>+7 (999) 111 22 33</div>
                </div>
            </div>


            <div class={{ styles.profile-info-link }}>
                <div class={{ styles.profile-info-link-change-info }}>Изменить данные</div>
            </div>
            <div class={{ styles.profile-info-link }}>
                <div class={{ styles.profile-info-link-change-password }}>Изменить пароль</div>
            </div>
            <div class={{ styles.profile-info-link }}>
                <div class={{ styles.profile-info-link-exit }}>Выйти</div>
            </div>

        </div>
    </div>
</div>