<div class="{{ styles.profile-container }}">
    <div class={{ styles.profile-change-password-return }}>
        <div class={{ styles.arrow-button-container }}>
            <img class={{ styles.profile-return-button }} src={{ icons.arrowback-svg }}>
        </div>

    </div>
    <div class={{ styles.profile-info-container }}>
        <div class={{ styles.profile-info }}>
            <img class={{ styles.profile-avatar-image }} src={{ images }}>
            <div class={{ styles.profile-info-fields-container }}>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Старый пароль</div>
                    {{> input classes=styles.profile-change-field-value type="password" name="oldPassword" value="oldpassword" }}
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Новый пароль</div>
                    {{> input classes=styles.profile-change-field-value type="password" name="newPassword" value="newpassword1" }}
                </div>
                <div class={{ styles.profile-info-field }}>
                    <div class={{ styles.profile-info-field-name }}>Повторите новый пароль</div>
                    {{> input classes=styles.profile-change-field-value type="password" name="newPassword2" value="newpassword2" }}
                </div>
            </div>

            {{> button classes=(concat styles.button styles.profile-change-password-save-button) text="Сохранить" }}
        </div>
    </div>
</div>