<div class={{ styles.chat-info-container }}>
    <div class={{ styles.chat-info }}>
        <div class={{ styles.chat-avatar }}><img class={{ styles.avatar-image }} src={{ images }}></div>
        <div class={{ styles.chat-name }}>{{ name }}</div>
        <div class={{ styles.chat-time }}>{{ time }}</div>
        <div class={{ styles.chat-last-message }}>{{ text }}</div>
        <div class={{ styles.chat-unread-count-container }}>
            <div class={{ styles.chat-unread-count }}>{{ unread }} </div>
        </div>
    </div>
</div>